{% extends 'sorteio_novo/base.html' %}
{% load static %}
{% block content %}

        <div class="container">
            <h1 class="fw-normal lh-1 text-center mb-5" id="titulo">VAMOS COMEÇAR!</h1>
        </div>        
        <main>
            <div class="p-4" id="container-sorteio">
                <h5 class="mt-3 mb-3 font_subtitle text-dark text-center">Clique aqui para iniciar o sorteio</h5>
                <div class="text-center">
                    <a href="{% url 'assincon-home' %}" class="btn btn-primary rounded-pill" id="botao-iniciar">Iniciar</a>
                </div>
            </div>
            
            {% if brinde_ok %}
                <div class="row g-3 mt-4">
                    <div class="col-sm-4">
                        <label for="nome" class="form-label text-dark">Nome</label>
                        <input type="text" class="form-control" id="apartamento" value="{{ brinde_ok.nome }}" readonly>
                    </div>
                    <div class="col-sm-4">
                        <form method="post" name="confirmar_brinde">
                            {% csrf_token %}
                            <input type="hidden" name="brinde_id" value="{{ brinde_ok.id }}">
                            <label for="vaga" class="form-label text-dark">Brinde Escolhido</label>
                            <select class="form-control" id="brinde" name="brinde_escolhido">
                                <option value="">Brinde!</option>
                                {% for brinde in vagas_disponiveis %}
                                    <option value="{{ vaga }}">{{ vaga }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary rounded-pill mt-4 mb-4">Confirmar Vaga</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </main>


{% endblock %}

